.bubble-chart{
  margin: 50px auto;
}

.loading {
  opacity: 0;
  display: block;
  margin: 0 auto;
  width: 100px;
  z-index: 10;
  background-repeat: no-repeat;
}

.bubble-svg{
  display: block;
  margin: 0 auto;
}
.loading.active {
  opacity: 1;
}

.toolTip {
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
  color: #fff;
  pointer-events: none;
  position: absolute;
  width: 350px;
  text-transform: capitalize;
}

.toolTip td {
  text-align: right;
  padding-left: 10px;
}

.toolTip th {
  text-align: left;
}

.bubble-title{
  font-size: 24px;
  fill: #fff;
}

@media (max-width: 1366px) {
  .toolTip {
    display: none;
  }
}


@media (max-width: 425px) {
  .loading {
    margin: 0 36%;
  }

  .bubble-svg {
    margin: 0 10px;
  }

  .bubble-title {
    font-size: 19px;
    background: red;
    width: 100%;
    display: block;
    border: 1px solid #fff;
    position: absolute;
  }
}